@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif;
}
