@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

@theme {
  --font-family-sans: Figtree, ui-sans-serif, system-ui, sans-serif;
}
